<div class="progress-card">
  <div class="task-title">{{task.taskTitle}}</div>
  <div class="progress-indicator">
    <progress [max]="task.taskDetails.length" [value]="completedTasks()"></progress>
    {{completedTasks()}}/{{task.taskDetails.length}}
  </div>
  <details>
    <summary class="task-description">
      {{task.taskDescription}}
    </summary>
    <div class="task-details">
        <ol>
          <li *ngFor="let taskDetail of task.taskDetails" >
            <input type="checkbox" [checked]="taskDetail.completed" (change)="checkSubtask($event, taskDetail.id, task)" name="" id="">
            {{taskDetail.name}}
          </li>
        </ol>
      <button class="delete" (click)="deleteTask(task.id)">Delete</button>
      <button (click)="openForm(task)">Edit</button>
    </div>
  </details>
</div>
