<div class="progress-card">
  <div class="task-title">{{taskTitle}}</div>
  <div class="progress-indicator">
    <progress [max]="progress[1]" [value]="progress[0]"></progress>
    {{progress[0]}}/{{progress[1]}}
  </div>
  <details>
    <summary class="task-description">
      {{taskDescription}}
    </summary>
    <div class="task-details">
        <ol>
          <li *ngFor="let taskDetail of taskDetails" ><input type="checkbox" name="" id="">{{taskDetail}}</li>
        </ol>
      <button class="delete">Delete</button>
      <button>Edit</button>
    </div>
  </details>
</div>
