<div class="progress-card">
  <div class="task-title">Read Clean Code</div>
  <div class="progress-indicator">
    <progress max="100" value="10"></progress>
    10/100
  </div>
  <details>
    <summary class="task-description">
      Read Clean Code and resume
      main ideas from that
    </summary>
    <div class="task-details">
        <ol>
          <li><input type="checkbox" name="" id="">Read Book </li>
          <li><input type="checkbox" name="" id="">Make resume </li>
        </ol>
      <button class="delete">Delete</button>
      <button>Edit</button>
    </div>
  </details>
</div>
