<app-task-card></app-task-card>
<div class="progress-card">
  <div class="task-title">Read Clean Code</div>
  <div class="progress-indicator">
    <progress max="100" value="10"></progress>
    10/100
  </div>
  <details>
    <summary class="task-description">
      Read Clean Code and resume
      main ideas from that
    </summary>
    <div class="task-details">
        <ol>
          <li><input type="checkbox" name="" id="">Read Book </li>
          <li><input type="checkbox" name="" id="">Make resume </li>
        </ol>
      <button class="delete">Delete</button>
      <button>Edit</button>
    </div>
  </details>
</div>
<div class="progress-card">
  <div class="task-title">Learn Haskell</div>
  <div class="progress-indicator">
    <progress max="100" value="10"></progress>
    10/100
  </div>
  <div class="task-description">
    Read Haskell docs and build E-Commerce app for
    apply learned concepts
  </div>
</div>
<div class="progress-card">
  <div class="task-title">Build back-end of blog engine</div>
  <div class="progress-indicator">
    <progress max="100" value="30"></progress>
    30/100
  </div>
  <div class="task-description">
    Write back-end code of blog engine using NestJS and React
  </div>
</div>
<div class="progress-card">
  <div class="task-title">Watch Tower of God</div>
  <div class="progress-indicator">
    <progress max="12" value="4"></progress>
    4/12
  </div>
  <div class="task-description">
    Watch anime Tower of God in Giganima
  </div>
</div>

<div class="progress-card">
  <div class="task-title">Watch Tower of God</div>
  <div class="progress-indicator">
    <progress max="12" value="4"></progress>
    4/12
  </div>
  <div class="task-description">
    Watch anime Tower of God in Giganima
  </div>
</div>

<div class="progress-card">
  <div class="task-title">Watch Tower of God</div>
  <div class="progress-indicator">
    <progress max="12" value="4"></progress>
    4/12
  </div>
  <div class="task-description">
    Watch anime Tower of God in Giganima
  </div>
</div>
