<div class="container">
  <div class="wraper">
    <label for="taskTitle">
      Task title:
      <input [(ngModel)]="taskTitle" id="taskTitle" type="text">
    </label>
    <label for="taskDescription">
      Task Description:
      <input [(ngModel)]="taskDescription" id="taskDescription" name="taskDescription" type="text">
    </label>

    <label class="details" for="taskDetails">
      Task Details:
      <label for="newTaskDetails">
        <input (keydown)="addNewTaskOnEnter($event)" [(ngModel)]="newTaskDetail" type="text">
        <button (click)="addNewTaskDetail()" id="addNewTaskDetail">New Detail</button>
      </label>
      <div *ngFor="let detail of subtasks" class="subtask">
        <input [(ngModel)]="detail.name" type="text">
        <button (click)="deleteSubtask(detail.id)">Delete</button>
      </div>
    </label>
    <button (click)="emitData()" class="close-button">Close</button>
    <button (click)="emitData()" id="update-button">Ok</button>
  </div>
</div>
