#main-container {
  display: flex;
  flex-flow: row wrap;
  margin: 10px auto;
}

#nav-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  padding: 10px;
  border-bottom: 1px double rgb(105, 105, 105);
  background-color: darken($color: #f3eeee, $amount: 2);
  position: sticky;
  top: 0;

  input[type=text] {
    border-radius: 7px;
    border: 0px;
    font-size: 30px;
    padding: 2px 10px;
  }

  * {
    background-color: darken($color: #f3eeee, $amount: 3);
  }
}

a {
  text-decoration: none;

}

a:hover {
  color: lighten($color: #1d4d4f, $amount: 40%);
}

.navigation-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
}

h1 {
  font-size: 46px;
  font-weight: 200;
  padding: 5px;
  align-self: center;
}

main {
  display: flex;
  flex-grow: 5;
  flex-wrap: wrap-reverse;
  flex-direction: column;
  justify-content: space-between;
}

.progress-card {
  font-size: 25px;
  margin-top: 20px;
  padding: 10px;
  font-family: 'Roboto Slab', serif;

}

.task-title {
  font-size: 40px;
  font-weight: 400;
}

.task-description {
  font-weight: 100;
}

.progress-indicator {
  padding: 5px;
}

.task-details {
  margin: 10px;

  li {
    padding: 10px;
  }

  button {
    padding: 10px;
    margin: 10px;
    width: 75px;
    border-radius: 10%;
    border: 1px gray solid;
    font-size: 20px;
    transition: ease-in-out 0.3s;
  }

  button:hover {
    cursor: pointer;
    background-color: darken($color: #f3eeee, $amount: 15);

  }

  button.delete {
    color: rgb(59, 18, 18);
  }

  input[type=checkbox] {
    width: 20px;
    height: 20px;
  }
}

progress[value] {
  height: 10px;
  margin: 10px;

  animation: animate-progress 2s ease-in-out;
}

@keyframes animate-progress {
  0% {
    width: 0;
  }
  100% {
    color: red;
  }
}

details[open] summary ~ * {
  animation: sweep .7s ease-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-right: -10px;
  }
  100% {
    opacity: 1;
    margin-right: 0px
  }
}

aside {

  flex-grow: 1;

  li {
    padding: 10px;
  }

  li:before {
    content: '> ';
  }
}

.new-task button {
  position: fixed;
  right: 5vw;
  top: 90vh;
  font-size: 40px;
  border: none;
}

.edit-task-form {
  position: absolute;
  width: 100vw;
  height: 90vh;
  backdrop-filter: blur(3px);
  background: none;

}
