<header id="nav-bar">
  <div class="logo">
    Progress Indicator
  </div>
  <div class="navigation-links">
    <ul class="navigation-links">
      <li><a href="/login">Profile</a></li>
      <li><a href="">History</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="">Logout</a></li>
    </ul>
  </div>
  <div class="search-input">
    <input type="text" name="" id="" placeholder="Search Task...">
  </div>
</header>

<div id="main-container" [ngStyle]="{'background-color':showEditForm? 'green' : 'red' + '!important'}">
  <aside>
    <h1>Other tasks</h1>
    <ul>
      <li>Read Docker docs 1/100</li>
      <li>Read Spring Docs 8/100</li>
      <li>Learn how to use Selenium 0/100</li>
    </ul>
  </aside>
  <main>
    <header>
      <h1>Your progress</h1>
    </header>
    <app-main-task-list></app-main-task-list>
  </main>
  <aside>
    <h1>Completed Tasks</h1>
    <ul>
      <li>Learn Clojure Syntax</li>
      <li>Learn Classical Guitar basics</li>
      <li>Learn Java basic</li>
    </ul>
  </aside>
  <div *ngIf="showEditForm" class="edit-task-form">
    <app-edit-task-form (closeFormEvent)="closeEditForm()"></app-edit-task-form>
  </div>
  <div class="new-task">
    <button>New Task</button>
  </div>
  <footer>

  </footer>
</div>
