*{
  background: none;
}
.container{
  display: flex;
  flex-flow: column wrap ;
  align-items: center;
}
.wraper{
  display: flex;
  flex-flow: column wrap;

  margin: 0 auto;
  position: relative;
  top: 20vh;

  background-color: white;
  padding: 20px;

  border: 1px gray solid;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.3);

  width: fit-content;

  font-size: 24px;
}
label{
  padding: 7px;
  margin: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input[type=text]{
  padding: 5px;
  font-size: 24px;
  border: none;
  border-bottom: solid 1px gray;
}
.details{
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  padding: 7px;
}
.close-button{
  position:absolute;
  font-size: 14px;
  top: 7px;
  right: 7px;
  width: 20px;
  height: 20px;
  width: fit-content;
}
#update-button{
  width: 80px;
  height: 40px;
  align-self: center;
}
#addNewTaskDetail{
  align-self: center;
  margin-left: 10px;
  font-size: 15px;
}
